-- CreateTable
CREATE TABLE "absences" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "date_debut" DATE NOT NULL,
    "date_fin" DATE NOT NULL,
    "heure_debut" TIME(6),
    "heure_fin" TIME(6),
    "nombre_jours" DECIMAL(4,2) NOT NULL,
    "type_absence" VARCHAR(30) NOT NULL,
    "statut" VARCHAR(20) NOT NULL,
    "motif" TEXT NOT NULL,
    "motif_refus" TEXT,
    "justificatif_url" TEXT,
    "justificatif_requis" BOOLEAN DEFAULT false,
    "justificatif_valide" BOOLEAN,
    "date_validite_justificatif" DATE,
    "declare_par" VARCHAR(10) NOT NULL,
    "remunere" BOOLEAN DEFAULT false,
    "taux_remuneration" DECIMAL(5,2),
    "impact_cnss" BOOLEAN DEFAULT false,
    "impact_amo" BOOLEAN DEFAULT false,
    "retenue_salaire" DECIMAL(10,2),
    "commentaire_rh" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "absences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "avantages" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "nom" VARCHAR(100) NOT NULL,
    "type" VARCHAR(20) NOT NULL,
    "valeur" DECIMAL(10,2) NOT NULL,
    "description" TEXT,
    "date_debut" DATE,
    "date_fin" DATE,
    "actif" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "avantages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bulletins_paie" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "mois" INTEGER NOT NULL,
    "annee" INTEGER NOT NULL,
    "date_generation" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "date_paiement" DATE,
    "salaire_base" DECIMAL(10,2) NOT NULL,
    "total_primes" DECIMAL(10,2) DEFAULT 0,
    "total_avantages" DECIMAL(10,2) DEFAULT 0,
    "total_retenues" DECIMAL(10,2) DEFAULT 0,
    "montant_brut" DECIMAL(10,2) NOT NULL,
    "montant_net" DECIMAL(10,2) NOT NULL,
    "cnss_employee" DECIMAL(10,2) DEFAULT 0,
    "cnss_employer" DECIMAL(10,2) DEFAULT 0,
    "amo_employee" DECIMAL(10,2) DEFAULT 0,
    "amo_employer" DECIMAL(10,2) DEFAULT 0,
    "cimr_employee" DECIMAL(10,2) DEFAULT 0,
    "cimr_employer" DECIMAL(10,2) DEFAULT 0,
    "impot_revenu" DECIMAL(10,2) DEFAULT 0,
    "statut" VARCHAR(20) DEFAULT 'g├®n├®r├®',
    "pdf_url" TEXT,
    "genere_par" UUID,
    "valide_par" UUID,
    "date_validation" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "bulletins_paie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "companies" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" VARCHAR(255) NOT NULL,
    "siret" VARCHAR(20),
    "sector" VARCHAR(100),
    "address" TEXT NOT NULL,
    "legal_form" VARCHAR(50),
    "ice" VARCHAR(50),
    "rc" VARCHAR(50),
    "cnss_number" VARCHAR(50),
    "tax_id" VARCHAR(50),
    "city" VARCHAR(100),
    "postal_code" VARCHAR(20),
    "country" VARCHAR(100) DEFAULT 'Maroc',
    "website" VARCHAR(255),
    "logo_url" TEXT,
    "fiscal_year_start" VARCHAR(10),
    "currency" VARCHAR(10) DEFAULT 'MAD',
    "timezone" VARCHAR(100) DEFAULT 'Africa/Casablanca',
    "email" VARCHAR(255) NOT NULL,
    "phone" VARCHAR(20),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "companies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "competences" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "nom" VARCHAR(100) NOT NULL,
    "niveau" VARCHAR(50),
    "certifie" BOOLEAN DEFAULT false,
    "date_obtention" DATE,

    CONSTRAINT "competences_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "criteres_evaluation" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "evaluation_id" UUID,
    "nom" VARCHAR(100) NOT NULL,
    "description" TEXT,
    "poids" INTEGER NOT NULL,
    "note" DECIMAL(3,2),
    "commentaire" TEXT,

    CONSTRAINT "criteres_evaluation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "demandes_conges" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "type_conge_id" UUID,
    "date_debut" DATE NOT NULL,
    "date_fin" DATE NOT NULL,
    "nombre_jours" INTEGER NOT NULL,
    "statut" VARCHAR(20) NOT NULL,
    "commentaire" TEXT,
    "justificatif_url" TEXT,
    "validation_manager_id" UUID,
    "validation_manager_date" TIMESTAMP(6),
    "validation_rh_id" UUID,
    "validation_rh_date" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "demandes_conges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "diplomes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "nom" VARCHAR(200) NOT NULL,
    "etablissement" VARCHAR(200),
    "date_obtention" DATE,
    "niveau" VARCHAR(100),

    CONSTRAINT "diplomes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "documents_employes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "nom" VARCHAR(200) NOT NULL,
    "type" VARCHAR(50) NOT NULL,
    "description" TEXT,
    "file_name" VARCHAR(255),
    "file_size" INTEGER,
    "file_url" TEXT,
    "mime_type" VARCHAR(100),
    "date_upload" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "date_expiration" DATE,
    "obligatoire" BOOLEAN DEFAULT false,
    "status" VARCHAR(20) DEFAULT 'uploaded',
    "uploaded_by" UUID,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "documents_employes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "elements_paie" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "bulletin_id" UUID,
    "type" VARCHAR(20) NOT NULL,
    "nom" VARCHAR(100) NOT NULL,
    "base_calcul" DECIMAL(10,2),
    "taux" DECIMAL(8,4),
    "montant" DECIMAL(10,2) NOT NULL,
    "ordre_affichage" INTEGER DEFAULT 0,

    CONSTRAINT "elements_paie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "employees" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID,
    "matricule" VARCHAR(20) NOT NULL,
    "nom" VARCHAR(100) NOT NULL,
    "prenom" VARCHAR(100) NOT NULL,
    "cin" VARCHAR(20) NOT NULL,
    "email" VARCHAR(255),
    "telephone" VARCHAR(20),
    "rue" TEXT,
    "ville" VARCHAR(100),
    "code_postal" VARCHAR(10),
    "pays" VARCHAR(100) DEFAULT 'Maroc',
    "date_embauche" DATE NOT NULL,
    "date_fin_contrat" DATE,
    "poste" VARCHAR(100) NOT NULL,
    "departement" VARCHAR(100) NOT NULL,
    "type_contrat" VARCHAR(20) NOT NULL,
    "duree_contrat" INTEGER,
    "periode_essai_debut" DATE,
    "periode_essai_fin" DATE,
    "salaire_base" DECIMAL(10,2) NOT NULL,
    "salaire_brut" DECIMAL(10,2),
    "mode_paiement" VARCHAR(30),
    "heures_travail_hebdo" DECIMAL(4,2) DEFAULT 40,
    "rib" VARCHAR(30),
    "banque" VARCHAR(100),
    "numero_cnss" VARCHAR(20),
    "affiliation_cnss_amo" BOOLEAN DEFAULT false,
    "affiliation_cimr" BOOLEAN DEFAULT false,
    "taux_cimr" DECIMAL(5,2),
    "status" VARCHAR(20) NOT NULL,
    "evaluation_score" INTEGER,
    "risque_turnover" VARCHAR(20),
    "situation_familiale" VARCHAR(50),
    "manager_id" UUID,
    "avatar_url" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "employees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "evaluations" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "type" VARCHAR(20) NOT NULL,
    "titre" VARCHAR(200) NOT NULL,
    "description" TEXT,
    "date_prevue" DATE NOT NULL,
    "date_realisation" DATE,
    "status" VARCHAR(20) DEFAULT 'planifi├®e',
    "note_globale" DECIMAL(3,2),
    "commentaire_employe" TEXT,
    "commentaire_manager" TEXT,
    "commentaire_rh" TEXT,
    "prime_recommandee" DECIMAL(10,2),
    "augmentation_recommandee" DECIMAL(5,2),
    "risque_turnover" VARCHAR(20),
    "potentiel" VARCHAR(20),
    "signature_employe" BOOLEAN DEFAULT false,
    "signature_manager" BOOLEAN DEFAULT false,
    "cree_par" UUID,
    "valide_par" UUID,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "evaluations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "formations_recommandees" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "evaluation_id" UUID,
    "nom" VARCHAR(200) NOT NULL,
    "description" TEXT,
    "priorite" VARCHAR(20),

    CONSTRAINT "formations_recommandees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "objectifs" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "evaluation_id" UUID,
    "description" TEXT NOT NULL,
    "atteint" BOOLEAN DEFAULT false,
    "commentaire" TEXT,

    CONSTRAINT "objectifs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "primes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "nom" VARCHAR(100) NOT NULL,
    "montant" DECIMAL(10,2) NOT NULL,
    "type" VARCHAR(20) NOT NULL,
    "frequence" VARCHAR(20) NOT NULL,
    "base_calcul" VARCHAR(50),
    "description" TEXT,
    "date_debut" DATE,
    "date_fin" DATE,
    "actif" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "primes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "retenues" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "employe_id" UUID,
    "nom" VARCHAR(100) NOT NULL,
    "montant" DECIMAL(10,2) NOT NULL,
    "type" VARCHAR(20) NOT NULL,
    "obligatoire" BOOLEAN DEFAULT false,
    "details" TEXT,
    "date_debut" DATE,
    "date_fin" DATE,
    "actif" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "retenues_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subscriptions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID,
    "plan" VARCHAR(50) NOT NULL,
    "status" VARCHAR(20) NOT NULL,
    "start_date" DATE NOT NULL,
    "end_date" DATE NOT NULL,
    "billing_cycle" VARCHAR(20) NOT NULL,
    "payment_provider_id" VARCHAR(255),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "types_conges" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID,
    "nom" VARCHAR(100) NOT NULL,
    "duree_standard" VARCHAR(50),
    "modifiable" BOOLEAN DEFAULT true,
    "impact_salaire" VARCHAR(20) NOT NULL,
    "couleur" VARCHAR(7),
    "description" TEXT,
    "limite" INTEGER,
    "actif" BOOLEAN DEFAULT true,
    "legal" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "types_conges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "email" VARCHAR(255) NOT NULL,
    "password_hash" VARCHAR(255) NOT NULL,
    "role" VARCHAR(50) NOT NULL,
    "company_id" UUID,
    "first_name" VARCHAR(100),
    "last_name" VARCHAR(100),
    "is_active" BOOLEAN DEFAULT true,
    "email_verified" BOOLEAN DEFAULT false,
    "activation_token" VARCHAR(255),
    "last_login" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "reset_token" VARCHAR(255),
    "reset_token_expiry" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "virements" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "bulletin_id" UUID,
    "employe_id" UUID,
    "montant" DECIMAL(10,2) NOT NULL,
    "reference" VARCHAR(50),
    "statut" VARCHAR(20) DEFAULT 'en_attente',
    "date_execution" DATE,
    "motif_rejet" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "virements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_settings" (
    "id" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" JSONB NOT NULL,
    "updated_by" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "system_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "paie_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "smig" DECIMAL(10,2) NOT NULL DEFAULT 3111.30,
    "weekly_hours" INTEGER NOT NULL DEFAULT 44,
    "overtime_day_rate" DECIMAL(5,2) NOT NULL DEFAULT 25,
    "overtime_night_rate" DECIMAL(5,2) NOT NULL DEFAULT 50,
    "overtime_holiday_rate" DECIMAL(5,2) NOT NULL DEFAULT 100,
    "cnss_employee_rate" DECIMAL(5,2) NOT NULL DEFAULT 4.48,
    "cnss_employer_rate" DECIMAL(5,2) NOT NULL DEFAULT 8.98,
    "cnss_family_employer_rate" DECIMAL(5,2) NOT NULL DEFAULT 6.4,
    "cnss_training_employer_rate" DECIMAL(5,2) NOT NULL DEFAULT 1.6,
    "amo_employee_rate" DECIMAL(5,2) NOT NULL DEFAULT 2.26,
    "amo_employer_rate" DECIMAL(5,2) NOT NULL DEFAULT 4.11,
    "cnss_ceiling" DECIMAL(10,2) NOT NULL DEFAULT 6000,
    "payment_frequency" TEXT NOT NULL DEFAULT 'monthly',
    "payment_method" TEXT NOT NULL DEFAULT 'bank',
    "payment_day" INTEGER NOT NULL DEFAULT 30,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "paie_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prime_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL,
    "condition" TEXT,
    "is_taxable" BOOLEAN DEFAULT true,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "prime_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bareme_ir" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "min_amount" DECIMAL(12,2) NOT NULL,
    "max_amount" DECIMAL(12,2),
    "rate" DECIMAL(5,2) NOT NULL,
    "deduction_amount" DECIMAL(12,2) NOT NULL,
    "order" INTEGER NOT NULL,

    CONSTRAINT "bareme_ir_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cimr_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "employee_default_rate" DECIMAL(5,2) NOT NULL,
    "employer_default_rate" DECIMAL(5,2) NOT NULL,
    "has_ceiling" BOOLEAN NOT NULL DEFAULT true,
    "ceiling_amount" DECIMAL(10,2) NOT NULL DEFAULT 10000,
    "enabled_by_default" BOOLEAN NOT NULL DEFAULT true,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cimr_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "leave_types" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "duration" TEXT,
    "is_customizable" BOOLEAN DEFAULT true,
    "description" TEXT,
    "pay_impact" TEXT,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "leave_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "leave_balance_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "initial_balance" INTEGER NOT NULL DEFAULT 18,
    "allow_cumulative" BOOLEAN NOT NULL DEFAULT true,
    "max_cumulative" INTEGER NOT NULL DEFAULT 30,
    "reset_period" TEXT NOT NULL DEFAULT 'january',
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "leave_balance_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "absence_types" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "impacts_pay" BOOLEAN DEFAULT false,
    "description" TEXT,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "absence_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "approval_workflow" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "step_name" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "is_required" BOOLEAN DEFAULT true,
    "order" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "approval_workflow_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public_holidays" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "date" DATE NOT NULL,
    "is_fixed" BOOLEAN DEFAULT true,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "public_holidays_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "security_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "session_timeout" INTEGER NOT NULL DEFAULT 30,
    "max_login_attempts" INTEGER NOT NULL DEFAULT 5,
    "password_min_length" INTEGER NOT NULL DEFAULT 8,
    "require_strong_password" BOOLEAN NOT NULL DEFAULT true,
    "enable_2fa" BOOLEAN NOT NULL DEFAULT false,
    "enable_ip_whitelist" BOOLEAN NOT NULL DEFAULT false,
    "whitelisted_ips" TEXT[],
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "security_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notification_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "email_notifications" BOOLEAN DEFAULT true,
    "sms_notifications" BOOLEAN DEFAULT false,
    "leave_request_alerts" BOOLEAN DEFAULT true,
    "payroll_alerts" BOOLEAN DEFAULT true,
    "document_expiry_alerts" BOOLEAN DEFAULT true,
    "birthday_alerts" BOOLEAN DEFAULT false,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notification_settings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "bulletins_paie_employe_id_mois_annee_key" ON "bulletins_paie"("employe_id", "mois", "annee");

-- CreateIndex
CREATE UNIQUE INDEX "companies_siret_key" ON "companies"("siret");

-- CreateIndex
CREATE UNIQUE INDEX "employees_matricule_key" ON "employees"("matricule");

-- CreateIndex
CREATE UNIQUE INDEX "employees_cin_key" ON "employees"("cin");

-- CreateIndex
CREATE UNIQUE INDEX "employees_email_key" ON "employees"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "system_settings_category_key_key" ON "system_settings"("category", "key");

-- AddForeignKey
ALTER TABLE "absences" ADD CONSTRAINT "absences_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "avantages" ADD CONSTRAINT "avantages_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "bulletins_paie" ADD CONSTRAINT "bulletins_paie_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "bulletins_paie" ADD CONSTRAINT "bulletins_paie_genere_par_fkey" FOREIGN KEY ("genere_par") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "bulletins_paie" ADD CONSTRAINT "bulletins_paie_valide_par_fkey" FOREIGN KEY ("valide_par") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "competences" ADD CONSTRAINT "competences_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "criteres_evaluation" ADD CONSTRAINT "criteres_evaluation_evaluation_id_fkey" FOREIGN KEY ("evaluation_id") REFERENCES "evaluations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "demandes_conges" ADD CONSTRAINT "demandes_conges_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "demandes_conges" ADD CONSTRAINT "demandes_conges_type_conge_id_fkey" FOREIGN KEY ("type_conge_id") REFERENCES "types_conges"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "demandes_conges" ADD CONSTRAINT "demandes_conges_validation_manager_id_fkey" FOREIGN KEY ("validation_manager_id") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "demandes_conges" ADD CONSTRAINT "demandes_conges_validation_rh_id_fkey" FOREIGN KEY ("validation_rh_id") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "diplomes" ADD CONSTRAINT "diplomes_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "documents_employes" ADD CONSTRAINT "documents_employes_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "documents_employes" ADD CONSTRAINT "documents_employes_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "elements_paie" ADD CONSTRAINT "elements_paie_bulletin_id_fkey" FOREIGN KEY ("bulletin_id") REFERENCES "bulletins_paie"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "employees" ADD CONSTRAINT "employees_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "employees" ADD CONSTRAINT "employees_manager_id_fkey" FOREIGN KEY ("manager_id") REFERENCES "employees"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "evaluations" ADD CONSTRAINT "evaluations_cree_par_fkey" FOREIGN KEY ("cree_par") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "evaluations" ADD CONSTRAINT "evaluations_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "evaluations" ADD CONSTRAINT "evaluations_valide_par_fkey" FOREIGN KEY ("valide_par") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "formations_recommandees" ADD CONSTRAINT "formations_recommandees_evaluation_id_fkey" FOREIGN KEY ("evaluation_id") REFERENCES "evaluations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "objectifs" ADD CONSTRAINT "objectifs_evaluation_id_fkey" FOREIGN KEY ("evaluation_id") REFERENCES "evaluations"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "primes" ADD CONSTRAINT "primes_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "retenues" ADD CONSTRAINT "retenues_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "subscriptions" ADD CONSTRAINT "subscriptions_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "types_conges" ADD CONSTRAINT "types_conges_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "User_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "virements" ADD CONSTRAINT "virements_bulletin_id_fkey" FOREIGN KEY ("bulletin_id") REFERENCES "bulletins_paie"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "virements" ADD CONSTRAINT "virements_employe_id_fkey" FOREIGN KEY ("employe_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "paie_settings" ADD CONSTRAINT "paie_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prime_settings" ADD CONSTRAINT "prime_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bareme_ir" ADD CONSTRAINT "bareme_ir_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cimr_settings" ADD CONSTRAINT "cimr_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "leave_types" ADD CONSTRAINT "leave_types_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "leave_balance_settings" ADD CONSTRAINT "leave_balance_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "absence_types" ADD CONSTRAINT "absence_types_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "approval_workflow" ADD CONSTRAINT "approval_workflow_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public_holidays" ADD CONSTRAINT "public_holidays_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "security_settings" ADD CONSTRAINT "security_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notification_settings" ADD CONSTRAINT "notification_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

