-- CreateTable
CREATE TABLE "paie_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "smig" DECIMAL(10,2) NOT NULL DEFAULT 3111.30,
    "weekly_hours" INTEGER NOT NULL DEFAULT 44,
    "overtime_day_rate" DECIMAL(5,2) NOT NULL DEFAULT 25,
    "overtime_night_rate" DECIMAL(5,2) NOT NULL DEFAULT 50,
    "overtime_holiday_rate" DECIMAL(5,2) NOT NULL DEFAULT 100,
    "cnss_employee_rate" DECIMAL(5,2) NOT NULL DEFAULT 4.48,
    "cnss_employer_rate" DECIMAL(5,2) NOT NULL DEFAULT 8.98,
    "cnss_family_employer_rate" DECIMAL(5,2) NOT NULL DEFAULT 6.4,
    "cnss_training_employer_rate" DECIMAL(5,2) NOT NULL DEFAULT 1.6,
    "amo_employee_rate" DECIMAL(5,2) NOT NULL DEFAULT 2.26,
    "amo_employer_rate" DECIMAL(5,2) NOT NULL DEFAULT 4.11,
    "cnss_ceiling" DECIMAL(10,2) NOT NULL DEFAULT 6000,
    "payment_frequency" TEXT NOT NULL DEFAULT 'monthly',
    "payment_method" TEXT NOT NULL DEFAULT 'bank',
    "payment_day" INTEGER NOT NULL DEFAULT 30,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "paie_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "prime_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "amount" DECIMAL(10,2) NOT NULL,
    "condition" TEXT,
    "is_taxable" BOOLEAN DEFAULT true,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "prime_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bareme_ir" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "min_amount" DECIMAL(12,2) NOT NULL,
    "max_amount" DECIMAL(12,2),
    "rate" DECIMAL(5,2) NOT NULL,
    "deduction_amount" DECIMAL(12,2) NOT NULL,
    "order" INTEGER NOT NULL,

    CONSTRAINT "bareme_ir_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cimr_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "employee_default_rate" DECIMAL(5,2) NOT NULL,
    "employer_default_rate" DECIMAL(5,2) NOT NULL,
    "has_ceiling" BOOLEAN NOT NULL DEFAULT true,
    "ceiling_amount" DECIMAL(10,2) NOT NULL DEFAULT 10000,
    "enabled_by_default" BOOLEAN NOT NULL DEFAULT true,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cimr_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "leave_types" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "duration" TEXT,
    "is_customizable" BOOLEAN DEFAULT true,
    "description" TEXT,
    "pay_impact" TEXT,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "leave_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "leave_balance_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "initial_balance" INTEGER NOT NULL DEFAULT 18,
    "allow_cumulative" BOOLEAN NOT NULL DEFAULT true,
    "max_cumulative" INTEGER NOT NULL DEFAULT 30,
    "reset_period" TEXT NOT NULL DEFAULT 'january',
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "leave_balance_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "absence_types" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "impacts_pay" BOOLEAN DEFAULT false,
    "description" TEXT,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "absence_types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "approval_workflow" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "step_name" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "is_required" BOOLEAN DEFAULT true,
    "order" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "approval_workflow_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public_holidays" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "date" DATE NOT NULL,
    "is_fixed" BOOLEAN DEFAULT true,
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "public_holidays_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "security_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "session_timeout" INTEGER NOT NULL DEFAULT 30,
    "max_login_attempts" INTEGER NOT NULL DEFAULT 5,
    "password_min_length" INTEGER NOT NULL DEFAULT 8,
    "require_strong_password" BOOLEAN NOT NULL DEFAULT true,
    "enable_2fa" BOOLEAN NOT NULL DEFAULT false,
    "enable_ip_whitelist" BOOLEAN NOT NULL DEFAULT false,
    "whitelisted_ips" TEXT[],
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "security_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notification_settings" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "email_notifications" BOOLEAN DEFAULT true,
    "sms_notifications" BOOLEAN DEFAULT false,
    "leave_request_alerts" BOOLEAN DEFAULT true,
    "payroll_alerts" BOOLEAN DEFAULT true,
    "document_expiry_alerts" BOOLEAN DEFAULT true,
    "birthday_alerts" BOOLEAN DEFAULT false,
    "updated_at" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notification_settings_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "paie_settings" ADD CONSTRAINT "paie_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "prime_settings" ADD CONSTRAINT "prime_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bareme_ir" ADD CONSTRAINT "bareme_ir_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cimr_settings" ADD CONSTRAINT "cimr_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "leave_types" ADD CONSTRAINT "leave_types_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "leave_balance_settings" ADD CONSTRAINT "leave_balance_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "absence_types" ADD CONSTRAINT "absence_types_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "approval_workflow" ADD CONSTRAINT "approval_workflow_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public_holidays" ADD CONSTRAINT "public_holidays_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "security_settings" ADD CONSTRAINT "security_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notification_settings" ADD CONSTRAINT "notification_settings_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "companies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

